<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="5" parallel="tests">
<test name="Test-Runner-firefox">
  <parameter name="browser" value='firefox'/>
  <classes>
  <class name="com.acttime.customertest.CustomerTest"/>
  </classes>
  </test>
  <test name="Test-Runner-chrome">
  <parameter name="browser" value='chrome'/>
  <classes>
  <class name="com.acttime.customertest.CustomerTest"/>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
